@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');





:root {
    --primary-color: darkslategray;
    --background-color: whitesmoke, snow, white;
    --font-style: "Roboto", "Open Sans", "Lato", "Merriweather";
    --header-font: "Oswald", "Montserrat", "Playfair";
    --small-font-style: 1rem;
    --medium-font-size: 1.125rem;
    --large-font-size: 1.25rem;
    --small-H1: 24px;
    --medium-H1: 28px;
    --large-H1: 32px;
    --small-H2: 21px;
    --medium-H2: 25px;
    --large-H2: 29px;
    --small-text: 12px;
    --medium-small-text: 14px;
    --large-small-text: 16px;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: darkslategray;
    --background-color: whitesmoke, snow, white;
    --font-style: "Roboto", "Open Sans", "Lato", "Merriweather";
    --header-font: "Oswald", "Montserrat", "Playfair";
    --small-font-style: 1rem;
    --medium-font-size: 1.125rem;
    --large-font-size: 1.25rem;
    --small-H1: 24px;
    --medium-H1: 28px;
    --large-H1: 32px;
    --small-H2: 21px;
    --medium-H2: 25px;
    --large-H2: 29px;
    --small-text: 12px;
    --medium-small-text: 14px;
    --large-small-text: 16px;
}

html {
    box-sizing: border-box;

    scroll-behavior: smooth;
}

body {
    background-color: whitesmoke;
    font-weight: bold;
    font-family: var(--font-style);
    font-size: var(--small-font-style);
}

h1 {
    font-size: var(--small-H1);
}

h2 {
    font-size: var(--small-H2);
}

h1,
h2,
small,
dt {
    font-family: var(--header-font);
}

span {
    font-size: var(--small-text);
    font-size: var(--small-font-style);
}

h1 {
    font-size: var(--small-H1);
}

h2 {
    font-size: var(--small-H2);
}

h1,
h2,
small,
dt {
    font-family: var(--header-font);
}

span {
    font-size: var(--small-text);
}

/* navigation style start */
.toggle-nav {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 25px;
    background-color: inherit;
    border: none;
    height: 25px;
    justify-content: space-between;
    cursor: pointer;
    border: none;
    background-color: none;
    padding: 2px;
}

#navBar.open {
    display: flex;
}

#navBar {
    display: none;
    flex-direction: column;
}

.toggle-nav .bar {
    width: 100%;
    height: 2px;
    border: none;
    background-color: black;
}

#navBar a.navlink {
    width: 80%;
    display: block;
    padding: 10px;
}

/* navigation style end */
main {
    line-height: 2;
}

.main {
    display: flex;
    flex-direction: column;
    color: #333333;
    margin-top: 2rem auto;
    overflow: hidden;
    gap: 10px;
}

.post {
    margin: 1rem auto;
    display: flex;
    flex-flow: column;
    border-radius: 10px;
    padding: 10px;
}

header,
footer {
    padding: 30px;
    background-color: var(--primary-color);
    color: white;
}

header {
    top: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

h1:hover {
    color: darkseagreen;
}

.mainH2:hover {
    color: var(--primary-color);
}

#article,
#article2,
#news {
    padding: 15px;
    margin-top: 2rem;
}

#navBar a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 10px;
    color: #FFFFFF;
    width: fit-content;
}

#navBar a:hover {
    text-decoration: underline;
    background-color: darkseagreen;
    padding: 10px;
    border-radius: 10px 9px;
    border-right: 2px solid rgb(70, 115, 115);
}

.footer a {
    transition: tranform 3s ease-in-out;
    font-size: 1.1rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
}

footer .middle {
    margin-top: 2rem;
}

a:visited {
    color: rgb(226, 226, 226);
}

a:hover {
    color: whitesmoke;
    text-decoration: underline;
}

a:active {
    color: rgb(237, 237, 68);
}

footer.spanFooter {
    text-align: center;
}

.nowrap {
    white-space: nowrap;
}

p {
    display: block;
}

@media screen and (min-width: 600px) {
    body {
        font-size: var(--medium-font-size);
        font-size: var(--medium-font-size);
    }

    .main {
        flex-direction: unset;
        flex-wrap: wrap;
    }

    /* turn of toggle button */
    .toggle-nav {
        display: none;
    }

    #navBar {
        display: inline-flex;
        position: static;
        flex-direction: row;
        gap: 20px;
    }

    #navBar a {
        font-size: 1.4rem;
        padding: 12px;
    }


    .post {
        display: flex;
        flex-flow: column wrap;
    }

    #article {
        flex: 1 1 50%;
    }

    #article2 {
        flex: 1 1 25%;
    }

    #news {
        flex: 1 1 25%;
    }

    h1 {
        font-size: var(--medium-H1);
    }

    h2 {
        margin: 1rem;
        font-size: var(--medium-H2);
    }

    span {
        font-size: var(--medium-small-text);

    }

    footer#footer {
        bottom: 0;
        margin-top: 4rem;
        text-align: center;
        font-size: 1.5rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}


@media screen and (min-width:1024px) {
    body {
        font-size: var(--large-font-size);
    }

    h1 {
        font-size: var(--large-H1);
    }

    h2 {
        font-size: var(--large-H2);
        font-size: var(--large-font-size);
    }

    h1 {
        font-size: var(--large-H1);
    }

    h2 {
        font-size: var(--large-H2);
    }

    /* turn of toggle button */
    .toggle-nav {
        display: none;
    }

    .main {
        flex-wrap: nowrap;
    }

    #navBar {
        position: static;
        gap: 50px;
    }

    #navBar a {
        font-size: 1.9rem;
        padding: 12px;
    }

    .footer a {
        padding-bottom: 2rem;
    }

    span {
        font-size: var(--large-small-text);
    }

    span {
        font-size: var(--large-small-text);
    }

    footer .middle {
        margin-top: 0;
    }
}